// --------------------------- MOBILE ------------------------------ //
@media screen and (min-width:480px) and (max-width: 767px){
    .footer {
      background-color: #2f303a;
      padding: 60px 0;
     
      &__left-side {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 60px;
      }
      
      &__center-side {
        padding: 0 137px;
        margin-bottom: 60px;
        text-align: center;
      }
  
      &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px;
        text-align: center;
      }
  
      &__right-side {
        margin-top: 60px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
    }
  
    .navigation-footer__logo {
       font-family: Raleway;
       font-weight: bold;
       font-size: 24px;
       line-height: 1.166;
       letter-spacing: 0.03em;
       color: #2196f3;
       margin-bottom: 20px;
     }
  
    .navigation-footer {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
  
      &__address {
        padding-bottom: 8px;
      }
  
      &__stationary {
        font-style: normal;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: #ffffff;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
          color: var(--main-color);
        }
      }
  
      &__remote {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: #ffffff99;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
          color: var(--main-color);
        }
      }
    }
  
    .footer-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      &__input {
        min-width: 434px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        color: #ffffff;
        margin-right: 12px;
        &:focus {
          outline: none;
          border-color: var(--main-color);
        }
      }
  
      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        padding-left: 42px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        color: #fff;
      }
  
      &__send-icon {
        fill: #fff;
        margin-left: 24px;
        margin-right: 24px;
      }
    }
  }
 
 // --------------------------- TABLET ------------------------------ //
 @media screen and (min-width:768px) and (max-width: 1999px){

  .footer {
    & .container{
      min-width: 738px;
      display: flex;
      padding: 0 15px;
    }

    margin: 0 auto;
    display: flex;
    min-height: 463px;
    background-color: #2f303a;
    padding: 60px 0;
    position: relative;
   
    &__left-side {
      margin: 0 auto;
      text-align: center;
      margin-left: 76px;
      margin-right: 144px;
    }
    
    &__center-side {
      margin-top: 5px;
    }

    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 20px;
      text-align: center;
    }

    &__right-side {
      position: absolute;
      top: 247px;
      left: 166px;
      text-align: center;
      width: 450px;
      display: flex;
      flex-direction: column;
    }
  }

  .navigation-footer__logo {
     font-family: Raleway;
     font-weight: bold;
     font-size: 24px;
     line-height: 1.166;
     letter-spacing: 0.03em;
     color: #2196f3;
     text-align: center;
     margin-bottom: 20px;
   }

  .navigation-footer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    &__address {
      padding-bottom: 8px;
    }

    &__stationary {
      font-style: normal;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: #ffffff;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus,
      &:hover {
        color: var(--main-color);
      }
    }

    &__remote {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: #ffffff99;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus,
      &:hover {
        color: var(--main-color);
      }
    }
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__input {
      min-width: 450px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 16px;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      color: #ffffff;
      margin-right: 12px;
      &:focus {
        outline: none;
        border-color: var(--main-color);
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: var(--main-color);
      border: 1px solid var(--main-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      cursor: pointer;
      padding-left: 42px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.06em;
      color: #fff;
    }

    &__send-icon {
      fill: #fff;
      margin-left: 24px;
      margin-right: 24px;
    }
  }
}



// --------------------------- DESKTOP ------------------------------ //

@media screen and (min-width: 1200px){

  .footer {
    & .container{
      display: flex;
      padding: 0 15px;
    }

    // display: flex;
    background-color: #2f303a;
    padding: 60px 0;

    &__left-side {
      margin-left: 0;
      margin-right: 70px;
      text-align: left;
    }

    &__center-side {
      display: flex;
      flex-direction: column;
      min-width: 206px;
    }

    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 20px;
      text-align: left;
    }

    &__right-side {
      min-width: 570px;
      position: relative;
      top: 0px;
      left: 0px;
      margin-left: 70px;
      display: flex;
      flex-direction: column;
    }
  }

  .navigation-footer__logo {
     font-family: Raleway;
     font-weight: bold;
     font-size: 24px;
     line-height: 1.166;
     letter-spacing: 0.03em;
     color: #2196f3;
     margin-bottom: 26px;
   }


  .navigation-footer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    &__address {
      padding-bottom: 9px;
    }

    &__stationary {
      //min-width: 246px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: #ffffff;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus,
      &:hover {
        color: var(--main-color);
      }
    }

    &__remote {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: #ffffff99;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus,
      &:hover {
        color: var(--main-color);
      }
    }
  }

  .footer-form {
    display: flex;
    flex-direction: row;

    
    &__input {
      min-width: 335px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 16px;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      color: #ffffff;
      margin-right: 12px;
      &:focus {
        outline: none;
        border-color: var(--main-color);
      }
    }

    &__btn {
      display: flex;
      margin-top: 0;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: var(--main-color);
      border: 1px solid var(--main-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      cursor: pointer;
      padding-left: 42px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.06em;
      color: #fff;
    }

    &__send-icon {
      fill: #fff;
      margin-left: 24px;
      margin-right: 24px;
    }
  }
}
