.footer {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;

  &__left-side {
    margin-right: 70px;
  }
  
  &__center-side {
    width: 206px;
    height: 80px;
    display: flex;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }

  &__right-side {
    height: 86px;
    margin-left: 78px;
  }
}

.navigation-footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  &__address {
    padding-bottom: 9px;
  }

  &__stationary {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: var(--main-color);
    }
  }

  &__remote {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff99;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: var(--main-color);
    }
  }
}

.footer-form {
  display: flex;
  
  &__input {
    width: 358px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #ffffff;
    margin-right: 12px;
    &:focus {
      outline: none;
      border-color: var(--main-color);
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 42px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #fff;
  }

  &__send-icon {
    fill: #fff;
    margin-left: 24px;
    margin-right: 24px;
  }
}
