 // --------------------------- MOBILE ------------------------------ //
 @media screen and (min-width:480px) and (max-width: 767px){
  .hero .container{
    display: block;
  }

  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-mobil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2f303a66;
    padding: 118px 40px;
    // align-items: center;
    // flex-direction: column;

    &__header {
      font-weight: 900;      
      font-size: 26px;
      line-height: 1.615;
      letter-spacing: 0.06em;
      color: #ffffff;
      text-align: center;
    }

    &__modal-btn {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.06em;
      color: #ffffff;
      background-color: var(--main-color);
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      padding: 10px 42px;
      border-style: none;
      margin-top: 30px;
      // justify-content: center;
      // align-items: center;
      margin-left: 80px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
  screen and (min-resolution: 192dpi) and (min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
     url("../images/hero/hero-mobile@2x.jpg");
  }
} 

 // --------------------------- TABLET ------------------------------ //
 @media screen and (min-width:768px) and (max-width: 1999px){
  .hero .container{
    display: block;
  }

  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2f303a66;
    padding: 118px 1px;
    //align-items: center;
    // flex-direction: column;

    &__header {
      font-weight: 900;      
      font-size: 26px;
      line-height: 1.615;
      letter-spacing: 0.06em;
      color: #ffffff;
      text-align: center;
    }

    &__modal-btn {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.06em;
      color: #ffffff;
      background-color: var(--main-color);
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      padding: 10px 42px;
      border-style: none;
      margin-top: 30px;
      margin-left: 280px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
     url("../images/hero/hero-tablet@2x.jpg");
  }
} 


// --------------------------- DESKTOP ------------------------------ //

@media screen and (min-width: 1200px){
  .hero .container{
    display: block;
  }

  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2f303a66;
    padding: 200px 252px;
    // align-items: center;
    // flex-direction: column;

    &__header {
      font-size: 44px;
      font-weight: 900;
      line-height: 1.363;
      letter-spacing: 0.06em;
      color: #ffffff;
      text-align: center;
    }

    &__modal-btn {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.06em;
      color: #ffffff;
      background-color: var(--main-color);
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      padding: 10px 42px;
      border-style: none;
      margin-left: 254px;
      margin-top: 30px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
     url("../images/hero/hero-desktop@2x.jpg");
  }
}