// --------------------------- MOBILE ------------------------------ //
@media screen and (min-width:480px) and (max-width: 767px){
   .lorem{
    padding-top: 60px;
    padding-bottom: 0;

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    
    &__item {
      max-width: 450px;
      margin-bottom: 30px;
    }

    &__svg {
      padding: 25px 190px;
      background-color: #f5f4fa;
      margin-bottom: 30px;
    }

    &__header {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.03em;
      color: #212121;
      margin-bottom: 10px;
    }

    &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: #757575;
    }
  }
}
 
 
 
 // --------------------------- TABLET ------------------------------ //
 @media screen and (min-width:768px) and (max-width: 1999px){
  .lorem{
    padding-top: 60px;
    padding-bottom: 0;

    &__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
    }
    
    &__item {
      max-width: 354px;
      margin-bottom: 30px;
    }

    &__svg {
      padding: 25px 142px;
      background-color: #f5f4fa;
      margin-bottom: 30px;
    }

    &__header {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.03em;
      color: #212121;
      margin-bottom: 10px;
    }

    &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: #757575;
    }
  }
}


// --------------------------- DESKTOP ------------------------------ //

@media screen and (min-width: 1200px){
  .lorem{
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
      display: flex;
      flex-direction: row;
      // justify-content: space-between;
      column-gap: 30px;
    }
    
    &__item {
      max-width: 270px;
      margin-bottom: 0;
    }

    &__svg {
      padding: 25px 100px;
      background-color: #f5f4fa;
      display: flex;
      margin-bottom: 30px;
    }

    &__header {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.142;
      letter-spacing: 0.03em;
      color: #212121;
      margin-bottom: 10px;
    }

    &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: #757575;
    }
  }
}