// --------------------------- MOBILE ------------------------------ //
@media screen and (min-width: 480px) and (max-width: 767px){
  .container{
    width: 100%;
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

// --------------------------- TABLET ------------------------------ //
@media screen and (min-width: 768px) and (max-width: 1999px){
  .container{
    max-width: 768px;
  }
}

// --------------------------- DESKTOP ------------------------------ //
@media screen and (min-width: 1200px){
  .container{
    max-width: 1200px;
  }
}
